.container {
  border: 1px solid var(--border-and-line-colour);
  border-radius: var(--border-radius-sm); 
  margin: var(--block-margin-internal) var(--block-margin-between);
  min-width: 350px;
  max-width: 768px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 2px 20px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.1s ease;  
  background-color: var(--navy-900);
}

.container:hover {
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15), 0 4px 24px rgba(255, 255, 255, 0.15);
}