.container {
  width: 105px !important;
  height: 420px !important;
  padding: var(--block-padding-internal) 0;
  background-color: var(--navy-900);
  border-right: 1px solid var(--border-and-line-colour);
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
}

.icon {
  margin: 0 2px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--block-group-padding-minimum) 0;
}

.statLabel {
  font-size: var(--font-size-supporting);
  color: var(--charts-supporting-colour);
  margin-bottom: 4px;
}

.statValue {
  font-size: var(--font-size-supporting);
  display: flex;
  justify-content: center;
  margin-top: var(--block-group-margin-minimum);
}

.statDelta {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.positive {
  color: var(--green-500);
}

.negative {
  color: var(--red-500);
}

@media (max-width: 767px) {
  .container {
    width: 100px !important;
  }
  
  .statItem {
    margin: 2px 0;
  }
}