.chartFooter {
  width: 100%;
  height: 40px;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--block-group-padding-internal);
  position: relative;
}

.chartIconsRight {
  display: flex;
}

.chartIconsLeft {
  display: flex;
}

.chartIcon {
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.chartIcon svg {
  color: var(--border-and-line-colour);
  transition: color 0.2s ease;
}

.chartIcon:hover svg {
  color: var(--title-colour);
}

.chartIcon.active svg {
  color: var(--title-colour);
}
