.chartHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--block-margin-internal);
  position: relative;
}

.titleContainer {
  padding: var(--charts-padding-inside-containers) var(--block-group-padding-internal);
  display: flex;
}

.chartContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartTitle {
  color: var(--charts-title-colour);
  font-size: var(--charts-figure-amount);
  margin: 0;
  margin-right: var(--charts-margin-between-blocks);
}

.titleMeta {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.symbol {
  font-size: var(--charts-figure-amount);
  margin-left: 2px;
}

.chartSubtitle {
  color: var(--title-colour);
  font-size: var(--charts-title-secondary);
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-and-line-colour);
  background: var(--navy-700);
  width: 60px;
  height: 29.5px;
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}

.chartSubtitle:nth-child(2) {
  margin: 0 var(--block-group-margin-internal);
}

.latestValue {
  color: var(--cyan-300);
  font-size: var(--charts-title-primary);
  margin: var(--block-margin-minimum) 0 0 0;
  margin-right: var(--charts-padding-inside-containers);
  display: flex;
  align-items: center;
  position: relative;
}

.latestValueDate {
  position: absolute;
  font-size: var(--font-size-supporting);
  color: var(--supporting-text-colour);
  top: 62%;
  right: 0;
}

.tooltip {
  background-color: var(--charts-background-colour);
  border: 1px solid var(--charts-border-and-line-colour);
  border-radius: var(--border-radius-sm);
  padding: 0 var(--block-group-padding-minimum);
  color: var(--charts-main-cta-colour);
  font-size: var(--charts-title-secondary);
}

.largeTick {
  font-size: 14px;
  font-weight: 500;
}

.smallTick {
  font-size: 12px;
  font-weight: 300;
}

.chartFooter {
  width: 100%;
  height: 40px;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--block-group-padding-internal);
  position: relative;
}

.chartIconsRight {
  display: flex;
}

.chartIconsLeft {
  display: flex;
}

.chartIcon {
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.chartIcon svg {
  color: var(--border-and-line-colour);
  transition: color 0.2s ease;
}

.chartIcon:hover svg {
  color: var(--title-colour);
}

.chartIcon.active svg {
  color: var(--title-colour);
}

.customLabel {
  background-color: var(--charts-background-colour);
  border: 1px solid var(--charts-border-and-line-colour);
  border-radius: var(--border-radius-sm);
  padding: 4px 8px;
  font-size: var(--charts-title-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.athLabel {
  color: var(--green-500);
}

.atlLabel {
  color: var(--pink-600);
}

.labelText {
  margin-bottom: 2px;
}

.statDelta {
  display: flex;
  align-items: center;
  font-size: var(--font-size-supporting);
}

.icon {
  margin-right: 2px;
}

.positive {
  color: var(--green-500);
}

.negative {
  color: var(--pink-600);
}

.settingsMenu {
  position: absolute;
  left: var(--block-group-padding-internal);
  bottom: 100%;
  background-color: var(--navy-800);
  border: 1px solid var(--border-and-line-colour);
  border-radius: var(--border-radius-sm);
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.settingsOption {
  padding: 4px 8px;
  cursor: pointer;
  color: var(--supporting-text-colour);
  white-space: nowrap;
}

.settingsOption:hover,
.settingsOption.active {
  color: var(--title-colour);
  background-color: var(--navy-700);
}

.filterMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--navy-900);
  border: 1px solid var(--border-and-line-colour);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: var(--block-group-padding-minimum);
  width: 100%;
  padding: 0;
}

.filterOption {
  padding: 8px;
  cursor: pointer;
  color: var(--supporting-text-colour);
  font-size: var(--font-size-supporting);
  white-space: nowrap;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
}

.filterOption:hover,
.activeFilterOption {
  color: var(--title-colour);
  background: var(--navy-700);
}

.openFilterMenu {
  color: var(--link-and-button-colour);
}

.filterWrapper {
  position: static;
  display: inline-block; 
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--navy-900);
  display: flex;
  flex-direction: column;
}

.fullScreenChart {
  flex-grow: 1;
}

.exitFullScreen {
  display: flex;
  justify-content: flex-end;
  color: var(--title-colour);
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
}

.chartWrapper {
  flex-grow: 1;
  transition: height 0.3s ease;
}

.fullScreenChart .recharts-responsive-container {
  height: 100% !important;
}