.container {
  border: 1px solid var(--border-and-line-colour);
  border-radius: var(--border-radius-sm);
  background: var(--navy-900);
  width: calc(100% - 288px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 65px;
  z-index: 10000;
}

.filterPanel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.bottomPadding {
  position: absolute;
  width: 101%;
  left: -1px;
  background: var(--navy-900);
  height: 16px;
  top: 101%;
  z-index: 100005 !important;
}

.filterWrapper {
  position: relative;
  display: inline-block;
  margin: 0 var(--block-group-margin-minimum);
}

.filterSelect {
  color: var(--title-colour);
  font-family: var(--font-family-body);
  font-size: var(--font-size-supporting);
  border-radius: var(--border-radius-sm);
  padding: 8px 12px;
  cursor: pointer;
  appearance: none;
  font-weight: bold;
  width: 150px;
  border: 1px solid var(--border-and-line-colour);
  background-color: var(--whiteAlpha-100);
}

.filterSelect:hover {
  color: var(--title-colour);
}

.filterMenu {
  position: absolute;
  top: calc(100% - 8px);
  left: 0;
  background-color: var(--navy-900);
  border: 1px solid var(--border-and-line-colour);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  padding: 2px;
  width: 100%;
}

.openFilterMenu {
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.filterOption {
  padding: 8px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  color: var(--title-colour);
  font-size: var(--font-size-supporting);
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.activeFilterOption {
  color: var(--title-colour);
  font-size: var(--font-size-supporting);
}

.filterOption:hover {
  background: var(--whiteAlpha-100);
}

.selectionBox {
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-and-line-colour);
  margin-right: 8px;
  border-radius: 2px;
}

.activeFilterOption .selectionBox {
  background-color: var(--whiteAlpha-100);
}

@media (max-width: 1280px) {
  .container {
    width: calc(100% - 280px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: center;
    width: calc(100% - 24px);
  }

  .filterSelect, .filterOption {
    font-size: var(--font-size-small-details);
  }

  .filterSelect {
    width: 130px;
  }

  .filterPanel {
    width: 100%;
    justify-content: space-around;
  }
}