.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.highlightBox {
  width: 100%;
  margin-bottom: calc(2 * var(--block-margin-between));
}

.highlightBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlightTitle {
  color: var(--title-colour);
  font-family: var(--font-family-heading);
  display: flex;
  height: 100%;
}

.titleLink {
  color: var(--link-and-button-colour);
  margin-right: var(--block-group-margin-minimum);
}

.titleSecondary {
  color: var(--title-colour);
}

.fa-cog {
  color: var(--supporting-text-colour);
  cursor: pointer;
}

.fa-cog:hover {
  color: var(--title-colour);
}

.chartList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-right: 16px;
}