.footer {
  background-color: var(--navy-800);
  color: var(--title-colour);
  padding: 16px 48px;
  margin-top: var(--block-margin-between);
  width: 100%;
  border-top: 1px solid var(--border-and-line-colour);
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footerLogo img {
  height: 24px;
}

.footerLinks {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footerLinks a {
  color: var(--supporting-text-colour);
  font-size: var(--font-size-supporting);
}

.footerLinks a:hover {
  color: var(--title-colour);
}

.footerColumn {
  height: 100% !important;
  width: 150px;
}

.footerColumn h3 {
  font-size: var(--font-size-copy);
  margin-bottom: 16px;
}

.footerColumn ul {
}

.footerColumn li {
  margin-top: 4px;
}

.footerColumn a {
}

.footerColumn a:hover {
}

.footerSocial {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.footerSocialLinks a {
  margin: 0 var(--block-group-margin-internal);
  color: var(--title-colour);
}

.socialIcon {
  font-size: var(--font-size-copy);
  width: 20px;
  height: 20px;
}

.footerSocialLinks a:hover {
}

.footerSocialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .footerContent {
  }

  .footerLinks {
  }

  .footerSocial {
  }
}