@import 'newTheme.css';

@font-face {
  font-family: 'GT America Extended Bold';
  src: url('../public/fonts/GT America/GT-America-Extended-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../public/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  min-width: 480px !important;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden !important;
}

body {
  background: var(--navy-900);
  color: var(--gray-50);
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

body *, *:before, *:after {
  box-sizing: border-box !important;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: 0;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

a, Link {
  cursor: pointer;
  text-decoration: none;
}

FontAwesomeIcon {
  cursor: pointer;
}

.button-primary {
  background-color: var(--cyan-500);
  color: var(--white);
  padding: var(--space-2);
  border-radius: var(--border-radius-sm);
}

.button-primary:hover {
  background: var(--gradient-primary);
}

#root {
  width: 100%;
  min-height: 100vh;
  min-width: 480px;
  overflow-x: hidden;
}


/* Responsive gutters and padding */
/* For extra large screens (2xl) */
@media (min-width: 1536px) {

}

/* For large screens (xl) */
@media (min-width: 1280px) and (max-width: 1535px) {

}

/* For medium screens (lg) */
@media (min-width: 992px) and (max-width: 1279px) {

}

/* For small screens (md) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* For extra small screens (sm) */
@media (min-width: 480) and (max-width: 991px) {

}

@media (max-width: 480px) {
  #root {
    transform: scale(96%);
    transform-origin: top left;
  }
}